# Assignment: Segmenting and Clustering Neighborhoods in Toronto

## Introduction

In this notebook we will explore and cluster the Neighborhoods in Toronto.
Following will be implemented:
- Dataframe with Postal Code, Borough and Neighborhood
    * The Datafame has below features:
        1. Cells with a borough that is Not assigned are being ignored.
        2. Comma seperated Neighbourhoods for same Postal Code
        3. For a with Not assigned neighborhood, the neighborhood is updated to be same as the borough
- Latitude and Longitude coordinates (using Geocoder Python package) have been added for each Neighborhood
- Explore and cluster the neighborhoods in Toronto

In [116]:
import pandas as pd
import lxml.html as lh

In [24]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [44]:
page = requests.get(url)
doc = lh.fromstring(page.content)
tr_elements = doc.xpath('//tr')

In [96]:
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[:]:
    i+=1
    name=t.text_content()
    tup=name.split('\n')
    col.append((tup))

In [152]:
df = pd.DataFrame(col)

df.drop(df.iloc[:, 4:66], inplace = True, axis = 1) 
df.iloc[:,0]='ToBeDeleted'
df.drop(df.iloc[:, 4:66], inplace = True, axis = 1) 
df.rename(columns = {0:'TEST'}, inplace = True) 
df.drop(['TEST'], axis = 1,inplace=True) 
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

df=df.iloc[:287,:] # removing extra rows at the end

df.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [155]:
df=df[df.Borough != 'Not assigned']
df.head()

0 Postcode           Borough     Neighbourhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor

In [165]:
for i in range(len(df)):
    if df.iloc[i,2] == 'Not assigned':
       df.iloc[i,2] = df.iloc[i,1] 
df.head()

0 Postcode           Borough     Neighbourhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor

In [171]:
df1=df
df1=df1.groupby('Postcode')['Borough','Neighbourhood'].agg(lambda x: ', '.join(set(x))).reset_index()



df1.head()

0 Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Morningside, Guildwood, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [172]:
df1.shape

(103, 3)